<div class="container-fluid">

    <div class="container">
        <div class="mt-5">
                {% include "category.html" %}
            <div class="row">
                <div class="col-12">สถานที่แนะนำ</div>
                <div class="col">
                    {% include "place_list.html" %}
                </div>
                <div class="col-12">สถานที่ใกล้เคียง</div>
                <div class="col">
                    {% include "place_list.html" %}
                </div>
            </div>
        </div>
    </div>
</div>