{% load static %}
<link rel="stylesheet" href="{% static 'css/place_list.css' %}">

<div class="row">
    <div class="col-12 mt-4 mb-4">
        <h3>{{ type_name }}</h3>
    </div>
    <div class="col-12">
        <div class="row">
            {% for place in places %}
            <div class="col-3 w-100">
                <div class="card">
                    <img src="media/{{ place.thumbnail_image }}" class="card-img-top img-fluid" alt="{{ place.name }}" style="width: 15.8125rem; height: 18.625rem;">
                    <div class="card-body pt-2 pb-2" style="background-color: {{ place.category.color }};">
                        <div class="card-title mt-2 text-center">
                            <span class="category-title">{{ place.category.name }}</span>
                            <span class="text-rating"><i class="fas fa-star-of-david"></i> {{ place.rating }} ({{ place.rate_count }})</span>
                        </div>
                    </div>
                </div>
                <div class="text-center text-title">{{ place.name }}</div>
                {% if type_name == "สถานที่ใกล้เคียง" %}
                <div class="text-center text-muted">ระยะห่าง {{ 1 }} กิโลเมตร </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

</div>